---
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createCollectionResource } from "@/lib/content/create-resource";

export async function getStaticPaths() {
	return (
		await Promise.all(
			locales.flatMap(async (locale) => {
				const pages = await createCollectionResource("pages", locale).all();

				return pages.map((page) => {
					return { params: { id: page.id, locale }, props: { page } };
				});
			}),
		)
	).flat();
}

const { locale } = Astro.params;

const { page } = Astro.props;

const documentTitle = page.data.title;
const { content, title } = page.data;
const { default: Content } = await page.compile(content);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageTitle>{title}</PageTitle>
			<div class="prose prose-sm">
				<Content />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
