---
import { type GetStaticPathsItem, type GetStaticPathsOptions } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { compareDesc } from "date-fns";

import Grid from "@/components/grid.astro";
import MainContent from "@/components/main-content.astro";
import PageTitle from "@/components/page-title.astro";
import PostPreview from "@/components/post-preview.astro";
import Section from "@/components/section.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { useLocale } from "@/lib/use-locale";
import { useTranslations } from "@/lib/use-translations";
import { type Locale, locales } from "~/config/i18n.config";

type Params = {
	locale: Locale;
};

type Props = {
	posts: Array<CollectionEntry<"posts">>;
};

interface Path extends GetStaticPathsItem {
	params: Params;
	props: Props;
}

export async function getStaticPaths(options: GetStaticPathsOptions): Promise<Array<Path>> {
	// TODO:
	const { paginate: _ } = options;

	return Promise.all(
		locales.map(async (locale) => {
			const collection = await getCollection("posts", (entry) => {
				return entry.id.startsWith(locale + "/");
			});

			const posts = collection.sort((a, z) => {
				return compareDesc(a.data.date, z.data.date);
			});

			return {
				params: { locale },
				props: { posts },
			};
		}),
	);
}

const locale = useLocale(Astro);
const t = useTranslations(locale, "PostsPage");

const { posts } = Astro.props;
---

<PageLayout locale={locale} title={t("meta.title")}>
	<MainContent>
		<Section variant="header">
			<PageTitle>{t("title")}</PageTitle>
		</Section>

		<Section>
			<Grid>
				{
					posts.map((post) => {
						return <PostPreview locale={locale} post={post} />;
					})
				}
			</Grid>
		</Section>
	</MainContent>
</PageLayout>
