---
import { styles } from "@acdh-oeaw/style-variants";

import type { GridLayout } from "@/lib/keystatic/component-options";

interface Props {
	/** @default "two-columns" */
	layout: GridLayout;
}

const { layout } = Astro.props;

const gridStyles = styles({
	base: "grid content-start gap-8",
	variants: {
		layout: {
			"two-columns": "sm:grid-cols-2",
			"three-columns": "sm:grid-cols-3",
			"four-columns": "sm:grid-cols-4",
			"one-two-columns": "sm:grid-cols-[1fr_2fr]",
			"one-three-columns": "sm:grid-cols-[1fr_3fr]",
			"one-four-columns": "sm:grid-cols-[1fr_4fr]",
		},
	},
	defaults: {
		layout: "two-columns",
	},
});
---

<div class={gridStyles({ layout })}>
	<slot />
</div>
