---
import Link from "@/components/content/link.astro";
import type { LinkSchema } from "@/lib/keystatic/get-link-props";

interface Props {
	label: string;
	link: LinkSchema;
}

const { label, link } = Astro.props;
---

<div class="flex">
	<Link
		class="my-4 inline-flex rounded-md bg-fg px-6 py-2 font-heading font-semibold text-fg no-underline transition hover:bg-bg/80"
		link={link}
	>
		{label}
	</Link>
</div>
