---
import Link from "@/components/content/link.astro";
import type { linkCollections } from "@/lib/content/create-components";

type LinkCollection = (typeof linkCollections)[number]["value"];

interface Props {
	item: {
		discriminant: LinkCollection;
		value: string;
	};
	label: string;
}

const { item, label } = Astro.props;
---

<div class="flex">
	<Link
		class="my-4 inline-flex rounded-md bg-fg px-6 py-2 font-heading font-semibold text-fg no-underline transition hover:bg-bg/80"
		item={item}
	>
		{label}
	</Link>
</div>
