---
import ContentLink from "@/components/content/link.astro";
import type { LinkSchema } from "@/lib/keystatic/get-link-props";

interface Props {
	label: string;
	link: LinkSchema;
}

const { label, link } = Astro.props;
---

<div class="flex">
	<ContentLink
		class="my-4 inline-flex rounded-1 bg-fill-brand-strong px-6 py-2 font-strong no-underline transition"
		link={link}
	>
		{label}
	</ContentLink>
</div>
