---
import type { TableOfContents } from "@acdh-oeaw/mdx-lib";

interface Props {
	headings: TableOfContents;
	depth?: number;
}

const { depth = 0, headings } = Astro.props;
---

<ol class="grid gap-y-1.5 text-text-weak" style={{ marginLeft: String(depth * 8) + "px" }}>
	{
		headings.map((heading) => {
			return (
				<li class="grid justify-start gap-y-1.5">
					{heading.id != null ? (
						<a
							class="inline-flex underline decoration-dotted transition hover:text-text-strong hover:decoration-solid"
							href={"#" + heading.id}
						>
							{heading.value}
						</a>
					) : (
						<span>{heading.value}</span>
					)}
					{Array.isArray(heading.children) && heading.children.length > 0 ? (
						<Astro.self depth={depth + 1} headings={heading.children} />
					) : null}
				</li>
			);
		})
	}
</ol>
