---
import MainContent from "@/components/main-content.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createI18n } from "@/lib/i18n";
import { pageSection, pageTitle } from "@/styles/components";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const { t } = await createI18n(locale);

const documentTitle = t("NotFoundPage.meta.title");
const title = t("NotFoundPage.title");
---

<PageLayout locale={locale} robots="noindex" title={documentTitle}>
	<MainContent search="exclude">
		<section class:list={[pageSection, "grid min-h-full place-items-center"]}>
			<h1 class={pageTitle}>{title}</h1>
		</section>
	</MainContent>
</PageLayout>
