---
import ContentPage from "@/components/content-page.astro";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout bots={false} title="Page not found">
	<ContentPage title="Page not found">
		We could not find the page you were looking for. <a href="/">Go back to home page</a>
	</ContentPage>
</PageLayout>
