---
import { ColorSchemeSelect } from "@/components/color-scheme-select";
import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

const { t } = await createI18n(Astro.currentLocale as Locale | undefined);

const label = t("ColorSchemeSwitcher.change");

const colorSchemes = {
	system: t("ColorSchemeSwitcher.color-schemes.system"),
	light: t("ColorSchemeSwitcher.color-schemes.light"),
	dark: t("ColorSchemeSwitcher.color-schemes.dark"),
};
---

<ColorSchemeSelect client:only="solid-js" label={label} options={colorSchemes}>
	<div slot="fallback" class="size-6"></div>
</ColorSchemeSelect>
