---
import PageTitle from "@/components/page-title.astro";
import Section from "@/components/section.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Section variant="header">
	<PageTitle>{title}</PageTitle>
</Section>

<Section>
	<div class="prose max-w-3xl dark:prose-invert">
		<slot />
	</div>
</Section>
