---
import type { HTMLAttributes } from "astro/types";

import { defaultLocale, type Locale } from "@/config/i18n.config";
import { ensureTrailingSlash } from "@/lib/ensure-trailing-slash";
import { withBasePath } from "@/lib/with-base-path";

interface Props extends HTMLAttributes<"a"> {
	locale?: Locale;
	reload?: boolean;
}

const { download, href, locale, reload, ...rest } = Astro.props;

const isDownloadLink = download != null;

const localisedHref = isDownloadLink
	? href
	: typeof href === "string" && href.startsWith("/")
		? withBasePath(
				"/" + (locale ?? Astro.currentLocale ?? defaultLocale) + ensureTrailingSlash(href),
			)
		: href;
const pathname = localisedHref instanceof URL ? localisedHref.pathname : localisedHref;
const isCurrent = pathname === Astro.url.pathname;
---

<a
	{...rest}
	aria-current={isCurrent ? "page" : undefined}
	data-astro-reload={reload}
	download={download}
	href={localisedHref}
>
	<slot />
</a>
