---
import { prefixPathname } from "@/lib/prefix-pathname";
import { unprefixPathname } from "@/lib/unprefix-pathname";
import { useTranslations } from "@/lib/use-translations";
import { type Locale, locales } from "~/config/i18n.config";

interface Props {
	locale: Locale;
}

const { locale: currentLocale } = Astro.props;
const t = useTranslations(currentLocale, "LocaleSwitcher");

const pathname = unprefixPathname(Astro.url.pathname);
---

<div class="inline-flex items-center gap-2">
	{
		locales.map((locale) => {
			if (locale === currentLocale) {
				return (
					<span>
						<span class="sr-only">{t("current-locale", { locale: t(`locales.${locale}`) })}</span>
						<span
							aria-hidden="true"
							class="cursor-default font-medium underline underline-offset-[0.25em]"
						>
							{locale.toUpperCase()}
						</span>
					</span>
				);
			}

			return (
				<a class="transition hover:text-muted-foreground" href={prefixPathname(locale, pathname)}>
					<span class="sr-only">{t("switch-locale", { locale: t(`locales.${locale}`) })}</span>
					<span aria-hidden="true">{locale.toUpperCase()}</span>
				</a>
			);
		})
	}
</div>
