---
import { Icon } from "astro-icon/components";

import { useTranslations } from "@/lib/use-translations";
import { type Locale } from "~/config/i18n.config";

interface Props {
	locale: Locale;
}

const { locale } = Astro.props;
const t = useTranslations(locale, "PageSearchForm");

const translations = {
	placeholder: t("pagefind.placeholder"),
	clear_search: t("pagefind.clear_search"),
	load_more: t("pagefind.load_more"),
	search_label: t("pagefind.search_label"),
	filters_label: t("pagefind.filters_label"),
	zero_results: t("pagefind.zero_results"),
	many_results: t("pagefind.many_results"),
	one_result: t("pagefind.one_result"),
	alt_search: t("pagefind.alt_search"),
	search_suggestion: t("pagefind.search_suggestion"),
	searching: t("pagefind.searching"),
};
---

<site-search class="contents" data-translations={JSON.stringify(translations)}>
	<button
		class="flex min-w-[15rem] cursor-pointer items-center gap-2 rounded-md border px-3 py-1 text-sm text-muted-foreground transition hover:border-brand-background"
		data-open-modal
		disabled
	>
		<Icon aria-label={t("search")} class="h-5 w-5 shrink-0" name="lucide:search" />
		<span aria-hidden="true" class="hidden md:block">{t("search")}</span>
		<Icon
			aria-label={t("search-shortcut")}
			class="ml-auto hidden h-5 w-5 shrink-0 md:block"
			name="lucide:square-slash"
		/>
	</button>

	<dialog
		aria-label={t("search")}
		data-search-dialog
		class="m-auto h-full w-full border bg-surface-background text-surface-foreground shadow-lg backdrop:bg-black/25 backdrop:backdrop-blur-sm open:grid sm:max-h-[max(24rem,80%)] sm:max-w-5xl sm:rounded-md"
	>
		<div class="grid gap-4 p-8" data-search-dialog-container>
			{
				import.meta.env.DEV ? (
					<div class="m-auto text-center">
						<p>{t("search-not-available")}</p>
					</div>
				) : (
					<div>
						<div data-pagefind-ui />
					</div>
				)
			}

			<button
				class="absolute grid place-items-center justify-self-end p-1 md:hidden"
				data-close-modal
			>
				<span class="sr-only">{t("cancel")}</span>
				<Icon aria-hidden="true" class="h-6 w-6 shrink-0" name="lucide:x" />
			</button>
		</div>
	</dialog>
</site-search>

<script>
	class SiteSearch extends HTMLElement {
		constructor() {
			super();

			const openButton = this.querySelector<HTMLButtonElement>("button[data-open-modal]")!;
			const closeButton = this.querySelector<HTMLButtonElement>("button[data-close-modal]")!;
			const dialog = this.querySelector<HTMLDialogElement>("[data-search-dialog]")!;
			const dialogContainer = this.querySelector<HTMLDivElement>("[data-search-dialog-container]")!;

			function onClickOutside(event: MouseEvent) {
				if (
					document.body.contains(event.target as Node) &&
					!dialogContainer.contains(event.target as Node)
				) {
					closeModal();
				}
			}

			function openModal(event?: MouseEvent) {
				event?.stopPropagation();
				dialog.showModal();
				window.addEventListener("click", onClickOutside);
			}

			function closeModal() {
				dialog.close();
				window.removeEventListener("click", onClickOutside);
			}

			openButton.addEventListener("click", openModal);
			openButton.disabled = false;
			closeButton.addEventListener("click", closeModal);

			window.addEventListener("keydown", (event) => {
				if (event.metaKey === true && event.key === "k") {
					dialog.open ? closeModal() : openModal();
					event.preventDefault();
				} else if (event.key === "/" && !dialog.open) {
					openModal();
					event.preventDefault();
				}
			});

			const mediaQuery = window.matchMedia("(min-width: 992px)"); // `lg` breakpoint
			mediaQuery.addEventListener("change", () => {
				closeModal();
			});

			const translations = JSON.parse(this.dataset.translations || "{}");

			window.addEventListener(
				"DOMContentLoaded",
				() => {
					if (import.meta.env.DEV) return;

					/** Webkit still does not have `requestIdleCallback`. */
					const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));

					onIdle(async () => {
						await import("@pagefind/default-ui/css/ui.css");
						// @ts-expect-error Missing types.
						const { PagefindUI } = await import("@pagefind/default-ui");

						new PagefindUI({
							element: this.querySelector("[data-pagefind-ui]"),
							baseUrl: import.meta.env.BASE_URL,
							bundlePath: import.meta.env.BASE_URL.replace(/\/$/, "") + "/_pagefind/",
							showImages: false,
							translations,
						});
					});
				},
				{ once: true },
			);
		}
	}
	customElements.define("site-search", SiteSearch);
</script>

<style is:global>
	[data-pagefind-ui] {
		--pagefind-ui-scale: 1;
		--pagefind-ui-primary: theme(colors.brand.background);
		--pagefind-ui-text: theme(colors.surface.foreground);
		--pagefind-ui-background: theme(colors.surface.background);
		--pagefind-ui-border: theme(colors.separator);
		--pagefind-ui-tag: theme(colors.muted.background);
		--pagefind-ui-border-width: 2px;
		--pagefind-ui-border-radius: theme(borderRadius.md);
		--pagefind-ui-image-border-radius: theme(borderRadius.md);
		--pagefind-ui-image-box-ratio: 3 / 2;
		--pagefind-ui-font: theme(fontFamily.body);
	}
</style>
