---
interface Props {
	class?: string;
	href: `#${string}`;
}

const { class: className, href } = Astro.props;
---

<a
	class:list={[
		"absolute -translate-y-3/2 m-4 inline-flex px-6 py-3 focus:translate-y-0 focus:outline-2 focus:outline-offset-0 bg-background-base text-text-strong rounded-xs",
		className,
	]}
	href={href}
>
	<slot />
</a>
