---
import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

const { t } = await createI18n(Astro.currentLocale as Locale | undefined);

const label = t("SkipLink.skip-to-main-content");
---

<a class="absolute -translate-y-full px-3 py-1.5 focus:translate-y-0" href="#main-content">
	{label}
</a>
