---
import { env } from "@/config/env.config";
---

{
	env.NODE_ENV === "development" ? (
		<div class="fixed right-5 bottom-5 z-10 grid size-9 cursor-default place-content-center rounded-full bg-black/80 font-code text-xs font-medium text-white backdrop-blur-[48px] select-none">
			<span class="sr-only">{"Breakpoint: "}</span>
			<span class="block xs:hidden">{"2xs"}</span>
			<span class="hidden xs:block sm:hidden">{"xs"}</span>
			<span class="hidden sm:block md:hidden">{"sm"}</span>
			<span class="hidden md:block lg:hidden">{"md"}</span>
			<span class="hidden lg:block xl:hidden">{"lg"}</span>
			<span class="hidden xl:block 2xl:hidden">{"xl"}</span>
			<span class="hidden 2xl:block 3xl:hidden">{"2xl"}</span>
			<span class="hidden 3xl:block">{"3xl"}</span>
		</div>
	) : null
}
