---
import Link from "@/components/link.astro";
import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";
import { pageSection } from "@/styles/components";

const { t } = await createI18n(Astro.currentLocale as Locale | undefined);
---

<footer class="border-t">
	<section class="container py-4">
		<div>
			<span>
				&copy; <a class="underline transition" href="https://oeaw.ac.at/acdh">ACDH-CH</a>
				{new Date().getUTCFullYear()}
			</span> |
			<Link class="underline transition" href="/imprint">{t("WebsiteFooter.links.imprint")}</Link> |
			<Link class="underline transition" href="/feed.xml">{t("WebsiteFooter.links.feed")}</Link>
		</div>
	</section>
</footer>
