---
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

export async function getStaticPaths() {
	const pages = await reader().collections.pages.all();

	return pages.map((page) => {
		return { params: { id: page.slug }, props: { page: page.entry } };
	});
}

const { page } = Astro.props;

const documentTitle = page.title;
const { title } = page;
const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageTitle>{title}</PageTitle>
			<div class="prose prose-sm">
				<Content />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
