---
import { request } from "@acdh-oeaw/lib";
import { type GetStaticPathsItem } from "astro";

import MainContent from "@/components/main-content.astro";
import PageTitle from "@/components/page-title.astro";
import Section from "@/components/section.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { useLocale } from "@/lib/use-locale";
import { useTranslations } from "@/lib/use-translations";
import { type Locale, locales } from "@/config/i18n.config";
import { createUrl, createUrlSearchParams } from "@acdh-oeaw/lib";
import { env } from "@/config/env.config";

type Params = {
	locale: Locale;
};

interface Path extends GetStaticPathsItem {
	params: Params;
}

export async function getStaticPaths(): Promise<Array<Path>> {
	return locales.map((locale) => {
		return {
			params: { locale },
		};
	});
}

const locale = useLocale(Astro);
const t = useTranslations(locale, "ImprintPage");

const baseUrl = "https://shared.acdh.oeaw.ac.at";
const pathname = "/acdh-common-assets/api/imprint.php";
const redmineId = env.PUBLIC_REDMINE_ID;

const url = createUrl({
	baseUrl,
	pathname,
	searchParams: createUrlSearchParams({
		outputLang: locale,
		serviceID: redmineId,
	}),
});

const html = await request(url, { responseType: "text" });
---

<PageLayout locale={locale} title={t("meta.title")}>
	<MainContent searchable={false}>
		<Section variant="header">
			<PageTitle>{t("title")}</PageTitle>
		</Section>

		<Section>
			<div class="prose max-w-3xl dark:prose-invert" set:html={html} />
		</Section>
	</MainContent>
</PageLayout>
