---
import "@/styles/index.css";
import "@/styles/cms.css";

import { Keystatic } from "@/lib/content/keystatic/page";
import { getMetadata } from "@/lib/i18n/get-metadata";

export const prerender = false;

const locale = "en";
const meta = await getMetadata("en-GB");
const title = ["CMS", meta.title].join(" | ");
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="light dark" name="color-scheme" />
		<meta content="noindex" name="robots" />
		<link href="/favicon.ico" rel="icon" sizes="32x32" type="image/x-icon" />
		<link href="/icon.svg" rel="icon" sizes="any" type="image/svg+xml" />
		<link href="/apple-icon.png" rel="apple-touch-icon" sizes="180x180" type="image/png" />
		<title>{title}</title>
	</head>

	<body data-pagefind-ignore>
		<Keystatic client:load />
	</body>
</html>
